services:
  satellite:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: satellite
    env_file: .env
    environment:
      - GROUND_CONTROL_URL=${GROUND_CONTROL_URL}
      - TOKEN=${TOKEN}
      - USE_UNSECURE=${USE_UNSECURE:-false}
    ports:
      - "8090:8080"
      - "8585:8585"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
