name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: container-registry
    steps:
    - name: Label PR
      uses: actions/labeler@v5